<template>
  <a-table
    :headers="headers"
    :items="stateFormat"
    :sortParams="sortParams"
    :sortParamsDefault="sortParamsDefault"
    :useExtRowComponent="getExtRowComponent"
    :getRowClassesByItem="getRowClassesByItem"
    @onChangeSort="onChangeSort"
  ></a-table>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import ATable from '@/components/a-table/src/components/ATable.vue';
import TableExtRowComponent from '@/components/a-table/stubs/components/TableExtRowComponent.vue';
import TableCustomCellActions from '@/components/a-table/stubs/components/TableCustomCellActions.vue';

export default {
  name: 'ATableView',
  data() {
    return {
      headers: [
        {
          key: 'letter',
          name: 'letter',
          title: 'ID',
          headerAlign: 'center',
          dataAlign: 'center',
          classes: 'width-4',
          sortControl: true,
        },
        {
          key: 'number',
          name: 'number',
          title: 'Number',
          headerAlign: 'center',
          dataAlign: 'left',
          sortControl: true,
        },
        {
          key: 'type',
          name: 'type',
          title: 'Type',
          headerAlign: 'center',
          dataAlign: 'left',
          sortControl: true,
        },
        {
          key: 'date',
          name: 'date',
          title: 'Date',
          headerAlign: 'center',
          dataAlign: 'left',
          sortControl: true,
        },
        {
          key: 'actions',
          title: '',
          headerAlign: 'center',
          dataAlign: 'center',
          classes: 'width-4',
          useComponent: TableCustomCellActions,
        },
        {
          key: 'mobileDescription',
          title: 'Description',
          headerAlign: 'center',
          dataAlign: 'center',
          classes: 'no-info mobile-col',
          position: 'afterAll',
        },
      ],
      sortParamsDefault: {
        sidx: 'number',
        sord: 'desc',
      },
      sortParams: {
        sidx: '',
        sord: '',
      },
      sortingMods: ['ascending', 'descending', 'off'],
      sortingIndex: 0,
    };
  },
  components: {
    ATable,
  },
  computed: {
    ...mapGetters(['SORTING_MODE_STATE', 'FILTERED_SORTED_STATE']),
    getExtRowComponent() {
      return TableExtRowComponent;
    },
    stateFormat() {
      return [
        ...this.FILTERED_SORTED_STATE.map((el) => ({
          id: el.id,
          letter: String.fromCharCode(el.id + 65),
          number: el.number,
          type: el.type,
          date: el.date,
        })),
      ];
    },
  },
  methods: {
    ...mapActions(['SET_SORTING_MODE']),
    getRowClassesByItem(item) {
      return `custom-class-${item.id}`;
    },
    onChangeSort({ data }) {
      if (!this.SORTING_MODE_STATE.includes(data.sidx)) {
        this.sortingIndex = 0;
      }
      const mode = `${data.sidx}-${this.sortingMods[this.sortingIndex]}`;
      this.sortingIndex = this.sortingIndex === this.sortingMods.length - 1
        ? 0
        : this.sortingIndex + 1;
      this.SET_SORTING_MODE(mode);
    },
  },
};
</script>
