<template>
  <div class="content">
    <CardItem
      v-for="item in FILTERED_SORTED_STATE"
      :key="item.id"
      :item-data="item"
    />
  </div>
</template>

<script>
import CardItem from '@/components/CardItem.vue';
import { mapGetters } from 'vuex';

export default {
  name: 'CardView',
  components: {
    CardItem,
  },
  computed: {
    ...mapGetters(['FILTERED_SORTED_STATE']),
  },
};
</script>

<style lang="scss" scoped>
.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
</style>
