<template>
  <div class="content">
    <div class="table-header">
      <div class="table-header__field">
        <h4 class="table-header__title">ID</h4>
      </div>
      <div class="table-header__field">
        <h4 class="table-header__title">Номер накладной</h4>
      </div>
      <div class="table-header__field">
        <h4 class="table-header__title">Тип заказа</h4>
      </div>
      <div class="table-header__field">
        <h4 class="table-header__title">Дата создания</h4>
      </div>
      <div class="table-header__field"></div>
    </div>
    <TableItem
      v-for="item in FILTERED_SORTED_STATE"
      :key="item.id"
      :item-data="item"
    />
  </div>
</template>

<script>
import TableItem from '@/components/TableItem.vue';
import { mapGetters } from 'vuex';

export default {
  name: 'TableView',
  components: {
    TableItem,
  },
  computed: {
    ...mapGetters(['FILTERED_SORTED_STATE']),
  },
};
</script>

<style lang="scss" scoped>
@import "@/scss/mixins.scss";

.table-header {
  display: flex;
  gap: 3px;

  height: 40px;

  &__field {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #e6e6e6;
  }

  &__title {
    @include font(16px, 19px, bold, black);
  }

  div:nth-of-type(1) {
    flex: 15;
  }

  div:nth-of-type(2) {
    flex: 27;
  }

  div:nth-of-type(3) {
    flex: 21;
  }

  div:nth-of-type(4) {
    flex: 30;
  }

  div:nth-of-type(5) {
    flex: 7;
  }
}
</style>
