<template>
  <td>
    <div class="cell">
      <div
        class="dots"
        :title="getMessageByKey('ext-panel')"
        @mouseover="toggleRowHover(true)"
      >
        <div class="settings" v-if="rowHovered">
          <div class="settings__img" @click="editClick($event)"></div>
          <div class="settings__img" @click="deleteClick($event)"></div>
        </div>
      </div>
    </div>
  </td>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'TableCustomCellActions',

  props: {
    item: {
      type: Object,
      default() {
        return {};
      },
    },
    rowHovered: {
      type: Boolean,
      default: false,
    },
    toggleRowHover: {
      type: Function,
      default: () => null,
    },
  },
  methods: {
    ...mapActions(["DELETE_ITEM", "TOGGLE_EDIT_FORM"]),
    deleteClick(e) {
      e.preventDefault();
      this.DELETE_ITEM(this.item.id);
    },
    editClick(e) {
      e.preventDefault();
      this.TOGGLE_EDIT_FORM(this.item.id);
    },
  },
};
</script>

.<style lang="scss" scoped>
@import "@/scss/mixins.scss";

.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 24px;
}

.dots {
  @include image("../../../../img/VerticalDots.svg");

  position: relative;

  height: 16px;
  width: 16px;
}

.settings {
  display: flex;
  gap: 15px;

  position: absolute;
  top: -7.5px;
  right: 0;

  padding: 0 29px 0 10px;
  height: 30px;

  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 3px;

  :first-child {
    @include image("../../../../img/TablePan1.svg");

    &:hover {
      @include image("../../../../img/TablePan2.svg");
    }

    &:active {
      @include image("../../../../img/TablePan3.svg");
    }
  }

  :last-child {
    @include image("../../../../img/TableTrash1.svg");

    &:hover {
      @include image("../../../../img/TableTrash2.svg");
    }

    &:active {
      @include image("../../../../img/TableTrash3.svg");
    }
  }

  &__img {
    width: 24px;
  }
}
</style>
