<template>
  <div class="app-card">
    <div class="app-card__header">
      <h6 class="app-card__title">Card {{ itemData.number }}</h6>
      <div class="app-card__dots" />
      <div class="app-card__settings">
        <img src="@/img/CardsPan.svg" alt="Cards Pan" />
        <a href="#" @click="editClick($event)">редактировать</a>
        <img src="@/img/CardsDelete.svg" alt="Cards Delete" />
        <a href="#" @click="deleteClick($event)">удалить</a>
      </div>
    </div>
    <div class="app-card__main">
      <p class="app-card__field">{{ String.fromCharCode(itemData.id + 65) }}</p>
      <hr />
      <p class="app-card__field">{{ itemData.date }}</p>
      <hr />
      <p class="app-card__field">{{ itemData.type }}</p>
      <hr />
      <p class="app-card__field">&nbsp;</p>
      <hr />
      <p class="app-card__field">&nbsp;</p>
      <hr />
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'CardItem',
  props: {
    itemData: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  methods: {
    ...mapActions(['DELETE_ITEM', 'TOGGLE_EDIT_FORM']),
    deleteClick(e) {
      e.preventDefault();
      this.DELETE_ITEM(this.itemData.id);
    },
    editClick(e) {
      e.preventDefault();
      this.TOGGLE_EDIT_FORM(this.itemData.id);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/scss/mixins.scss";

.app-card {
  width: 290px;

  background-color: #f6fafb;
  box-shadow: 0px 4px 12px #ebebeb;
  border-radius: 0 0 3px 3px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    padding: 0 10px 0 20px;
    height: 40px;

    background: rgba(237, 232, 245, 0.5);
  }

  &__title {
    @include font(18px, 21px, 500, #2b2839);
  }

  &__dots {
    @include image("../img/VerticalDots.svg");

    height: 100%;
    width: 40px;

    &:hover ~ .app-card__settings {
      display: grid;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 7px;

    padding: 7px 20px 20px;

    hr {
      margin: 0;
      height: 2px;

      color: #ede8f5;
    }
  }

  &__field {
    @include font(14px, 16px, normal, #2b2839);
  }

  &__settings {
    display: none;
    grid-template-columns: 14px 1fr;
    column-gap: 5px;
    row-gap: 11px;
    align-items: center;

    position: absolute;
    top: 28px;
    right: 28px;

    padding: 7px 17px 7px 10px;
    z-index: 1;

    background-color: white;
    box-shadow: 0px 4px 4px rgba(182, 182, 182, 0.25);
    border-radius: 2px;

    a {
      @include font(14px, 16px, normal, #2b2839);

      text-decoration: none;
    }

    img {
      justify-self: center;
    }

    &:hover {
      display: grid;
    }
  }
}
</style>
