<template>
  <div class="edit-form" @click="closeClick">
    <div class="edit-form__window">
      <h2 class="edit-form__title">
        Редактирование "{{ String.fromCharCode(CURRENT_EDIT_ID_STATE + 65) }}"
      </h2>
      <label class="edit-form__label">Номер накладной</label>
      <input
        class="edit-form__input form-control"
        type="number"
        placeholder="Введите значение"
        v-model="number"
      />
      <label class="edit-form__label">Тип заказа</label>
      <select class="edit-form__input form-select" v-model="type">
        <option value="RUED">RUED</option>
        <option value="RUEX">RUEX</option>
        <option value="RUSG">RUSG</option>
      </select>
      <div class="edit-form__footer">
        <button
          class="edit-form__button edit-form__button--close btn btn-outline-secondary"
        >
          <img src="@/img/CardsDelete.svg" alt="Cards Delete" />
          Отмена
        </button>
        <button
          class="edit-form__button edit-form__button--edit btn btn-primary"
          @click="editClick"
        >
          <img src="@/img/EditPan.svg" alt="Edit Pan" />
          Редактировать
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'EditForm',
  data() {
    return {
      number: '',
      type: '',
    };
  },
  computed: {
    ...mapGetters(['LIST_STATE', 'CURRENT_EDIT_ID_STATE']),
    currentEditItem() {
      return this.LIST_STATE.find((el) => el.id === this.CURRENT_EDIT_ID_STATE);
    },
  },
  methods: {
    ...mapActions(['TOGGLE_EDIT_FORM', 'EDIT_ITEM']),
    closeClick(e) {
      if (
        e.target.className === 'edit-form'
        || e.target.className.includes('edit-form__button--close')
      ) {
        this.TOGGLE_EDIT_FORM();
      }
    },
    editClick() {
      try {
        if (this.number === '') {
          throw new Error('Введите номер накладной');
        }
        this.EDIT_ITEM({
          id: this.CURRENT_EDIT_ID_STATE,
          number: this.number,
          date: this.getCurrentDate(),
          type: this.type,
        });
        this.TOGGLE_EDIT_FORM();
      } catch (e) {
        // eslint-disable-next-line no-alert
        alert(e);
      }
    },
    getCurrentDate() {
      const yyyy = new Date().getFullYear();
      const mm = String(new Date().getMonth() + 1).padStart(2, '0');
      const dd = String(new Date().getDate()).padStart(2, '0');

      return `${yyyy}-${mm}-${dd}`;
    },
  },
  created() {
    this.number = this.currentEditItem.number;
    this.type = this.currentEditItem.type;
  },
};
</script>

<style lang="scss" scoped>
@import "@/scss/mixins.scss";

.edit-form {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;

  height: 100vh;
  width: 100vw;
  z-index: 1;

  background: rgba(43, 40, 57, 0.2);

  &__window {
    padding: 25px 20px 20px;
    width: 400px;

    background: white;
    border-radius: 2px;
  }

  &__title {
    @include font(16px, 19px, normal, black);

    margin-bottom: 20px;
    text-align: center;
  }

  &__label {
    @include font(16px, 19px, normal, black);
  }

  &__input {
    @include font(16px, 19px, normal, #a5a5a5);

    padding-left: 15px;
    margin: 8px 0 20px;
    height: 30px;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
  }

  &__button {
    @include font(14px, 16px, normal, black);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    padding: 0 10px;
    height: 30px;

    img {
      height: 10px;
    }

    &--close {
      box-shadow: 0px 4px 4px #ebebeb;
      border-radius: 2px;
    }

    &--edit {
      color: white;

      background-color: #4943cd;
      box-shadow: 0px 4px 4px #ebebeb;
      border-radius: 2px;

      &:hover {
        background-color: #0b5ed7;
      }
    }
  }
}
</style>
