<template>
  <div class="table-item">
    <div class="table-item__field">
      <p class="table-item__title">
        {{ String.fromCharCode(itemData.id + 65) }}
      </p>
    </div>
    <div class="table-item__field">
      <p class="table-item__title">{{ itemData.number }}</p>
    </div>
    <div class="table-item__field">
      <p class="table-item__title">{{ itemData.type }}</p>
    </div>
    <div class="table-item__field">
      <p class="table-item__title">{{ itemData.date }}</p>
    </div>
    <div class="table-item__field">
      <img
        class="table-item__dots"
        src="@/img/VerticalDots.svg"
        alt="Vertical Dots"
      />
      <div class="table-item__settings">
        <div class="table-item__img" @click="editClick($event)"></div>
        <div class="table-item__img" @click="deleteClick($event)"></div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'TableItem',
  props: {
    itemData: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  methods: {
    ...mapActions(['DELETE_ITEM', 'TOGGLE_EDIT_FORM']),
    deleteClick(e) {
      e.preventDefault();
      this.DELETE_ITEM(this.itemData.id);
    },
    editClick(e) {
      e.preventDefault();
      this.TOGGLE_EDIT_FORM(this.itemData.id);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/scss/mixins.scss";

.table-item {
  display: flex;
  gap: 3px;

  height: 40px;

  background-color: white;
  border: 1px solid #e6e6e6;

  &__field {
    display: flex;
    align-items: center;
  }

  &__title {
    @include font(16px, 19px, normal, black);

    padding-left: 20px;
  }

  &__dots {
    z-index: 2;

    &:hover ~ .table-item__settings {
      display: flex;
    }
  }

  &__settings {
    display: none;
    gap: 15px;

    position: absolute;
    top: 5px;
    right: 21px;

    padding: 0 29px 0 10px;
    height: 30px;
    z-index: 1;

    background-color: white;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 3px;

    &:hover {
      display: flex;
    }

    :first-child {
      @include image("../img/TablePan1.svg");

      &:hover {
        @include image("../img/TablePan2.svg");
      }

      &:active {
        @include image("../img/TablePan3.svg");
      }
    }

    :last-child {
      @include image("../img/TableTrash1.svg");

      &:hover {
        @include image("../img/TableTrash2.svg");
      }

      &:active {
        @include image("../img/TableTrash3.svg");
      }
    }
  }

  &__img {
    width: 24px;
  }

  > :nth-child(1) {
    flex: 15;
  }

  > :nth-child(2) {
    flex: 27;
  }

  > :nth-child(3) {
    flex: 21;
  }

  > :nth-child(4) {
    flex: 30;
  }

  > :nth-child(5) {
    flex: 7;
    justify-content: center;
    align-items: center;

    position: relative;
  }
}
</style>
