<template>
  <div id="ksk-test-vue">
    <header class="header">
      <h1 class="header__title">Тестовое задание</h1>
    </header>
    <main class="main">
      <div class="main__center">
        <button class="add-button btn btn-primary" @click="addFormShow">
          <img src="@/img/Plus.svg" alt="Plus" />
          ДОБАВИТЬ
        </button>
        <div class="top-panel">
          <div class="sorting">
            <select class="sorting__select form-select" v-model="sortingMode">
              <option value="" selected disabled>Sorting</option>
              <option value="number-ascending"
                >Sort by Invoice number: ascending</option
              >
              <option value="number-descending"
                >Sort by Invoice number: descending</option
              >
              <option value="date-ascending">Sort by Date: ascending</option>
              <option value="date-descending">Sort by Date: descending</option>
              <option value="type-ascending">Sort by Type: ascending</option>
              <option value="type-descending">Sort by Type: descending</option>
              <option value="letter-ascending">Sort by ID: ascending</option>
              <option value="letter-descending">Sort by ID: descending</option>
              <option value="undo">Undo sorting</option>
            </select>
          </div>
          <div
            class="btn-group"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <input
              type="radio"
              class="btn-check"
              name="btnradio"
              id="btnradio1"
              autocomplete="off"
              value="cards"
              v-model="selected"
            />
            <label
              class="top-panel__button btn btn-outline-secondary"
              for="btnradio1"
            >
              <img src="@/img/Cards.svg" alt="Cards" />
            </label>
            <input
              type="radio"
              class="btn-check"
              name="btnradio"
              id="btnradio2"
              autocomplete="off"
              value="table"
              v-model="selected"
            />
            <label
              class="top-panel__button btn btn-outline-secondary"
              for="btnradio2"
            >
              <img src="@/img/Table.svg" alt="Table" />
            </label>
          </div>
        </div>
        <div class="filter">
          <div class="filter__header">
            <h2 class="filter__title">Filters</h2>
          </div>
          <div class="filter__main">
            <label class="filter__label">Invoice number</label>
            <input
              class="filter__input form-control"
              type="number"
              placeholder="Enter value"
              v-model="numberFilter"
            />
            <label class="filter__label">Date of creation</label>
            <div class="filter__date-field">
              <label class="filter__label">from</label>
              <input
                class="filter__input form-control"
                type="date"
                v-model="fromDateFilter"
              />
              <label class="filter__label">by</label>
              <input
                class="filter__input form-control"
                type="date"
                v-model="byDateFilter"
              />
            </div>
            <label class="filter__label">Type</label>
            <select class="filter__input form-select" v-model="typeFilter">
              <option value="RUED">RUED</option>
              <option value="RUEX">RUEX</option>
              <option value="RUSG">RUSG</option>
              <option value="">Reset type</option>
            </select>
          </div>
        </div>
        <router-view />
      </div>
    </main>
    <AddForm v-if="ADD_FORM_STATE" />
    <EditForm v-if="EDIT_FORM_STATE" />
  </div>
</template>

<script>
import AddForm from '@/components/AddForm.vue';
import EditForm from '@/components/EditForm.vue';
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'App',
  data() {
    return {
      selected: this.$router.currentRoute.name,
    };
  },
  components: {
    AddForm,
    EditForm,
  },
  computed: {
    ...mapGetters([
      'ADD_FORM_STATE',
      'EDIT_FORM_STATE',
      'FILTERS_SETTINGS_STATE',
      'SORTING_MODE_STATE',
    ]),
    numberFilter: {
      get() {
        return this.FILTERS_SETTINGS_STATE.number;
      },
      set(value) {
        this.SET_FILTERS_SETTINGS({
          number: value,
          fromDate: this.FILTERS_SETTINGS_STATE.fromDate,
          byDate: this.FILTERS_SETTINGS_STATE.byDate,
          type: this.FILTERS_SETTINGS_STATE.type,
        });
      },
    },
    fromDateFilter: {
      get() {
        return this.FILTERS_SETTINGS_STATE.fromDate;
      },
      set(value) {
        this.SET_FILTERS_SETTINGS({
          number: this.FILTERS_SETTINGS_STATE.number,
          fromDate: value,
          byDate: this.FILTERS_SETTINGS_STATE.byDate,
          type: this.FILTERS_SETTINGS_STATE.type,
        });
      },
    },
    byDateFilter: {
      get() {
        return this.FILTERS_SETTINGS_STATE.byDate;
      },
      set(value) {
        this.SET_FILTERS_SETTINGS({
          number: this.FILTERS_SETTINGS_STATE.number,
          fromDate: this.FILTERS_SETTINGS_STATE.fromDate,
          byDate: value,
          type: this.FILTERS_SETTINGS_STATE.type,
        });
      },
    },
    typeFilter: {
      get() {
        return this.FILTERS_SETTINGS_STATE.type;
      },
      set(value) {
        this.SET_FILTERS_SETTINGS({
          number: this.FILTERS_SETTINGS_STATE.number,
          fromDate: this.FILTERS_SETTINGS_STATE.fromDate,
          byDate: this.FILTERS_SETTINGS_STATE.byDate,
          type: value,
        });
      },
    },
    sortingMode: {
      get() {
        return this.SORTING_MODE_STATE;
      },
      set(mode) {
        this.SET_SORTING_MODE(mode);
      },
    },
  },
  watch: {
    selected(value) {
      this.$router.push(value);
    },
  },
  methods: {
    ...mapActions([
      'INITIALIZE_STORE',
      'TOGGLE_ADD_FORM',
      'SET_FILTERS_SETTINGS',
      'SET_SORTING_MODE',
    ]),
    addFormShow() {
      this.TOGGLE_ADD_FORM();
    },
  },
  created() {
    this.INITIALIZE_STORE();
  },
};
</script>

<style lang="scss">
@import "@/scss/mixins.scss";
@import "@/components/a-table/src/scss/table";

* {
  margin: 0;
  padding: 0;
}

#ksk-test-vue {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.header {
  height: 261px;

  background: linear-gradient(
    267.21deg,
    #900793 0.16%,
    rgba(134, 4, 137, 0.785707) 0.16%,
    rgba(159, 12, 162, 0.762269) 43.22%,
    rgba(5, 1, 190, 0.734375) 98.12%,
    rgba(0, 28, 126, 0.619792) 100.15%,
    rgba(6, 77, 142, 0.447917) 102.03%,
    rgba(1, 0, 60, 0) 102.73%
  );

  &__title {
    @include font(36px, 42px, bold, white);

    padding-top: 106px;
    margin: 0 auto;
    max-width: 1220px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.main {
  flex: auto;

  background-color: #f8f8f8;

  &__center {
    display: grid;
    grid-template-columns: 280px 1fr;
    column-gap: 30px;
    row-gap: 20px;

    padding: 30px 0 30px;
    margin: 0 auto;
    max-width: 1220px;
  }
}

.add-button {
  @include font(14px, 16px, bold, white);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  height: 70px;

  background: #4943cd;
  box-shadow: 0px 4px 4px #ebebeb;
  border-radius: 2px;
}

.filter {
  height: min-content;

  background: white;
  box-shadow: 0px 4px 4px #ebebeb;

  &__header {
    padding: 15px 38px 5px;

    border-bottom: 1px solid #f8f8f8;
  }

  &__title {
    @include font(16px, 19px, bold, #2b2839);
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 17px 30px 20px;
  }

  &__label {
    @include font(14px, 16px, 500, #2b2839);
  }

  &__input {
    @include font(14px, 16px, normal, #a5a5a5);

    padding-left: 10px;
    height: 30px;
  }

  &__date-field {
    display: flex;
    align-items: center;
    gap: 3px;

    > label {
      font-size: 12px;
    }

    > input {
      padding: 0;

      font-size: 12.5px;
      text-align: center;
    }
  }
}

.top-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    height: 40px;
    width: 40px;
  }
}

.sorting {
  display: flex;
  align-items: center;

  padding-left: 18px;
  height: 100%;
  width: 100%;

  background: white;
  box-shadow: 0px 4px 12px #ebebeb;
  border-radius: 3px;

  &__select {
    @include font(16px, 19px, bold, #2b2839);

    padding: 0 36px 0 11px;
    height: 30px;
    width: auto;

    [disabled] {
      display: none;
    }
  }
}

.btn-check:active + .btn-outline-secondary,
.btn-check:checked + .btn-outline-secondary,
.btn-outline-secondary.active,
.btn-outline-secondary.dropdown-toggle.show,
.btn-outline-secondary:active {
  background-color: #e5e9ec;
}
</style>
