@mixin font($size, $height, $weight, $color) {
	margin: 0;
	padding: 0;

	font-family: 'Roboto', sans-serif;
	font-size: $size;
	line-height: $height;
	font-weight: $weight;
	color: $color;
}

@mixin image($url) {
	background: url($url);
	background-position: center;
	background-repeat: no-repeat;
}
